
#banner__text
{
    display: inline;
    font-family: "Arial", Helvetica, san-serif;
    font-weight: bold;    
    line-height: 50px;
    color: white;  
    font-size: 20px;
    width: 100%;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
}

/*not currently used on this page*/
#Table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/*not currently used on this page*/
#Table td, #Table th {
    border: 1px solid #ddd;
    padding: 8px;
    align-content: center;
}

/*not currently used on this page*/
#Table tr:nth-child(even){background-color: #f2f2f2;}

/*not currently used on this page*/
#Table tr:hover {background-color: #ddd;}

/*not currently used on this page*/
#Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

#back_photo
{
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: -1;
    opacity: 0.9;
    width: 100%;    
    height: 100%;
}

#Excel:hover{
    cursor:pointer;
}

.banner{
    width: 100%;
    min-width: 600px;
    text-align: center;
    height: 50px;
    background-color: #266B6B;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.content_box__banner{
    background-color: #266B6B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    line-height:30px;
    text-align: center;
}

#content_box__banner__buttons{
    float: right;
    padding-right: 10px;
}

#content_box__banner__text{
    vertical-align: middle;
    color:white;
    font-family: "Arial", Helvetica, san-serif;
    font-weight: bold;
}

#button_to_dashboard{
    border-radius: 5px;
    border: 0;
    width: 100px;
    height:25px;
    background: rgba(0, 0, 0, 0.3);
}

#button_to_dashboard:hover{
    background: rgba(190, 190, 190, 0.3);
}

#button_logout{
    opacity: 0.35;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.content_box{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
    max-width: 800px;
    border-radius: 20px;
    border: 2px solid;
    background: rgba(114,154,154,.75);
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    font-family: "Arial", Helvetica, san-serif;
}

/*not currently used on this page*/
.content_container2{
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 25px; 
    background-color: #FFF2D7;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    opacity:1;
}

/*not currently used on this page*/
#dashboard_container{
    margin-top: 5%;
    margin-left:23.5%;
    margin-right:23.5%;
    /*width: 1000px;*/
    overflow:auto;
}

/*not currently used on this page*/
#dashboard_data_container{
    float:right;
    margin-top:10px;
    margin-right:10px;
    margin-bottom: 10px;;
    width: 350px;
    position:relative;
}

/*not currently used on this page*/
#graph_container{
    margin:10px;
    position:relative;
}

/*not currently used on this page*/
#dashboard_data_description{
    display:inline-block;
    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px;
    width:600px;
}

<!--tabs modified from w3schools.com-->
/* Style the list */
.content_box__tab_bar{
    /*without this empty class, the tabs have styling issues for some reason.*/
}
ul.tabs {
    background-color: #468B8B;
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
}

/* Float the list items side by side */
ul.tabs li {float: left;}

/* Style the links inside the list items */
ul.tabs li a {
    display: inline-block;
    text-align: center;
    padding: 5px 7px;
    text-decoration: none;
    transition: 0.2s;
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: "Arial", Helvetica, san-serif;
}

/* Change background color of links on hover */
ul.tabs li a:hover {background-color: #5CB05C;}

/* Create an active/current tablink class */
ul.tabs li a:focus, .active {background-color: #8CCE8C;}

/* Style the tab content */
.tab_content{
    display: none;
    padding: 25px 20px;
}

admincontent {
    overflow:auto;
}

.hide{
    display:none;
}

.unhide{
    display:inline-block;
}

input[type="submit"]{
    border-radius: 5px;
    border: 0;
    width: 100px;
    height:25px;
    background: #266B6B;
    margin-left: 100px;
}

.themed_button{
    margin: 5px;
    margin-right:0px;
    border-radius: 5px;
    border: 0;
    background: #266B6B;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
}

.themed_button:hover{
    background: #5CB05C;
}

button:hover,input[type = "submit"]:hover {
    background: #5CB05C;
}

.data_type_submit{
    display:none;
}

#dateselectordiv{
    text-align:left;
    margin:5px;
}

.dateselector{
    width:130px;
}

#dateInstructDiv{
    text-align:left;
}

.large_text{
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 7px;
}

#select_user_list{
    min-width: 250px;
    height: 15em;/*15 rows. Same as size=15*/
}

#select_param_list{
    min-width: 150px;
    height: 25em;/*same as size=25*/
}

.section_edit_desc{
    float: left;
    width: 40%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#textarea_desc{
    resize: none;
    width: 100%;
    height: 20em;
/*    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;  */
/*  For IE and modern versions of Chrome
    For Firefox
    For Safari*/
}
#textarea_errors{
    resize: none;
    width: 100%;
    height: 30em;
}