
#banner__text
{
    position:absolute;
    font-family: "Arial", Helvetica, san-serif;
    font-weight: bold;    
    line-height: 50px;
    color: white;  
    font-size: 20px;
    width: 100%;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
}


#user_table td, #user_table th, #delete_table td, #delete_table th, #error_table td, #error_table th{
    border: 1px solid #ddd;
    padding: 8px;
    align-content: center;
}



#user_table tr:nth-child(even),#delete_table tr:nth-child(even), #error_table tr:nth-child(even){background-color: #f2f2f2;}

#user_table tr:nth-child(even).selected,#delete_table tr:nth-child(even).selected{background-color:#acbad4;}

#user_table tr:hover, #delete_table tr:hover, #error_table tr:hover{background-color: #ddd;}

#user_table th,#delete_table th,#error_table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #266B6B;;
    color: white;
}

#back_photo
{
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: -1;
    opacity: 0.9;
    width: 100%;    
    height: 100%;
}

#Excel:hover{
    cursor:pointer;
}

.banner{
    width: 100%;
    min-width: 1000px;
    text-align: center;
    height: 50px;
    background-color: #266B6B;
    border-radius: 25px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
     -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.content_box__banner{
    background-color: #266B6B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    line-height:30px;
    text-align: center;
}

#content_box__banner__buttons{
    float: right;
    padding-right: 10px;
}

#content_box__banner__text{
    vertical-align: middle;
    color:white;
    font-family: "Arial", Helvetica, san-serif;
    font-weight: bold;
}

.content_box{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
    max-width: 900px;
    border-radius: 20px;
    border: 2px solid;
    background: rgba(114,154,154,.75);
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    font-family: "Arial", Helvetica, san-serif;
}

.content_box table, td, tr {
    border: 1px solid black;
}

.themed_container__header{
    background-color: #266B6B;
    text-align: center;
    height: 25px;
    color: white;
    font-weight: bold;
    border-top-right-radius:17px;
    border-top-left-radius: 17px;
    line-height: 25px;
    font-family: "Arial", Helvetica, san-serif;
    font-weight: bold;
}
.themed_container{
    background-color: #FFF2D7;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid #000;
}

.fixed_width{
    display: inline-block;
}

#register_user{
    margin-left: 105px;
}

#table_register{
    padding: 8px;
}

/*not currently used on this page*/
.content_container2{
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 25px; 
    background-color: #FFF2D7;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    opacity:1;
}

/*not currently used on this page*/
#dashboard_container{
    margin-top: 5%;
    margin-left:23.5%;
    margin-right:23.5%;
    /*width: 1000px;*/
    overflow:auto;
}

/*not currently used on this page*/
#dashboard_data_container{
    float:right;
    margin-top:10px;
    margin-right:10px;
    margin-bottom: 10px;;
    width: 350px;
    position:relative;
}

/*not currently used on this page*/
#graph_container{
    margin:10px;
    position:relative;
}

/*not currently used on this page*/
#dashboard_data_description{
    display:inline-block;
    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px;
    width:600px;
}

<!--tabs modified from w3schools.com-->
/* Style the list */
.content_box__tab_bar{
    /*without this empty class, the tabs have styling issues for some reason.*/
}
ul.tabs {
    background-color: #468B8B;
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
}

/* Float the list items side by side */
ul.tabs li {float: left;}

/* Style the links inside the list items */
ul.tabs li a {
    display: inline-block;
    padding: 5px 7px;
    text-decoration: none;
    transition: 0.2s;
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: "Arial", Helvetica, san-serif;
}

/* Change background color of links on hover */
ul.tabs li a:hover {background-color: #5CB05C;}

/* Create an active/current tablink class */
ul.tabs li a:focus, .active {background-color: #8CCE8C;}

/* Style the tab content */
.tab_content{
    display: none;
    padding: 25px 20px;
}

admincontent {
    overflow:auto;
}

.hide{
    display:none;
}

.unhide{
    display:inline-block;
}

input[type="submit"]{
    border-radius: 5px;
    border: 0;
    width: 100px;
    height:25px;
    background: #266B6B;
    color:white;
}

.themed_button{
    margin: 5px;
    margin-right:0px;
    border-radius: 5px;
    border: 0;
    background: #266B6B;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
}

.themed_button:hover{
    background: #5CB05C;
}

button:hover,input[type = "submit"]:hover {
    background: #5CB05C;
}

.data_type_submit{
    display:none;
}

#dateselectordiv{
    text-align:left;
    margin:5px;
}

.dateselector{
    width:130px;
}

#dateInstructDiv{
    text-align:left;
}

.large_text{
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 7px;
}

#select_user_list{
    min-width: 250px;
    height: 15em;/*15 rows. Same as size=15*/
}

#select_param_list{
    min-width: 150px;
    height: 25em;/*same as size=25*/
}

img {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
}



.section_edit_desc,.section_edit_notes{
    resize: both;
    overflow: auto;
    float: left;
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
}

#textarea_preview {
    background: white;
    margin: auto;
}

#textarea_notes_preview {
    background: white;
    margin: auto;
    height:100%;
}

#textarea_preview h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* For whatever reason, the sizes of the headers change, and so they are reset to what is defined as HTML5 standard.. */
h1 { margin-block-start: 0.67em; margin-block-end: 0.67em; font-size: 2.00em; font-weight: bold; }
h2 { margin-block-start: 0.83em; margin-block-end: 0.83em; font-size: 1.50em; font-weight: bold; }
h3 { margin-block-start: 1.00em; margin-block-end: 1.00em; font-size: 1.17em; font-weight: bold; }
h4 { margin-block-start: 1.33em; margin-block-end: 1.33em; font-size: 1.00em; font-weight: bold; }
h5 { margin-block-start: 1.67em; margin-block-end: 1.67em; font-size: 0.83em; font-weight: bold; }
h6 { margin-block-start: 2.33em; margin-block-end: 2.33em; font-size: 0.67em; font-weight: bold; }

#textarea_desc{
    resize: none;
    width: 100%;
    height: 20em;
/*    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;  */
/*  For IE and modern versions of Chrome
    For Firefox
    For Safari*/
}

#textarea_notes{
    resize: none;
    width: 100%;
    height: 30em;
}

#textarea_errors{
    resize: none;
    width: 100%;
    height: 30em;
}

.banner_buttons{
    float:right;
    margin-right: 25px;
    position:relative;
    border: 0;
    width: 100px;
    height:50px;
    background-color: #266B6B;
    margin-bottom:10px;
    font-family: "Arial", Helvetica, san-serif;
    font-size: 100%;
    font-weight: bold;
    color:white;
}

.banner_buttons:hover{
    background-color:#5CB05C;
}

#button_to_dashboard{
    margin-right:0px;
}

#button_logout{
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 10%;
    top: 10%;
    width: auto;
    height: auto;
    max-width: 75%; /* Full width */
    max-height: 75%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}