/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2017, 9:24:43 AM
    Author     : ktc45622
*/
#HeaderText
{
    display: inline;
    font-family: "Ariel", Helvetica, san-serif;
    font-weight: bold;    
    line-height: 50px;
    color: white;  
    font-size: 20px;
    width: 100%;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
}

#backPhoto
{
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: -1;
    opacity: 0.75;
    width: 100%;    
    height: 100%;
}

.title_bar_container{
    width: 100%;
    text-align: center;
    height: 50px;
    background-color: #266B6B;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
     -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.content_title_bar{
    background-color: #266B6B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    height:25px;
}

.title{
    color:white;
    margin-left:15px;
    margin-bottom: 10px;
    line-height: 25px;
    font-family: "Ariel", Helvetica, san-serif;
    font-weight: bold;
}

.content_container1{
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 25px;
    background: rgba(114,154,154,.75);
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.content_container2{
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 25px; 
    background-color: #FFF2D7;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    opacity:1;
}


#dashboard_container{
    margin-top: 5%;
    width: 1000px;
    height: 1000px;
}

#dashboard_data_container{
    float:right;
    margin-top:5%;
    width: 300px;
}

#graph_container{
    float:left;
    margin-top: 5%;
    width: 600px;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin-top:0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}