/* The Modal (background) */
.modal {
    border-radius:25px;
    text-align: center;
    display: none;
    position:absolute;
    z-index: 1;
    width:100%;
    height: 75%;
    overflow: auto;
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
    border-radius:25px;
    border:2.5px solid black;
    text-align: center;
    position: fixed;
    bottom:10%;
    background-color: #FFF2D7;
    width: 100%;
    height:75%;
    overflow:auto;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    font-size:18px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    height:25px;
    font-size:25px;
    background-color: #266B6B;
    color: white;
}

.modal-body {padding: 2px 16px; display:inline-table;}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 10%; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 10%; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}