<?xml version="1.0" encoding="UTF-8"?>
<!-- web.xml descripes how the application will be configured when it is deployed.
So it is also known as the deployment descriptor -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ControlServlet</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/jsp/error_java.jsp</location>
    </error-page>
    <filter>
        <filter-name>HTTPS</filter-name>
        <filter-class>servlets.filter.HttpsRedirectFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminLogin</filter-name>
        <url-pattern>/admin.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HTTPS</filter-name>
        <url-pattern>/admin.jsp</url-pattern>
        <url-pattern>/loginScreen.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>servlets.listener.ContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>Configuration</param-name>
        <param-value>test</param-value>
        <!-- comment out below when not on production machine
        <param-value>production</param-value>  -->
    </context-param>
    <context-param>
        <param-name>UseDBPooling</param-name>
        <param-value>yes</param-value>
    </context-param>
    <context-param>
        <param-name>PropertyFilePath</param-name>
        <param-value>/WEB-INF/config/General.properties</param-value>
    </context-param>
    <context-param>
        <param-name>EncryptKeyPath</param-name>
        <param-value>/WEB-INF/config/DoNotDeleteFile</param-value>
    </context-param>
    <!-- Filters ******************************************* -->
    <filter>
        <filter-name>AdminLogin</filter-name>
        <filter-class>servlets.filter.LoginFilter</filter-class>
    </filter>
    <!-- comment out below when not on production machine 
    local host does not have https, so server is not found when 
    mapping to https. The machine name and port is mapped correctly.
    -->
    <!--
      <filter-mapping>
         <filter-name>HTTPS</filter-name>
         <url-pattern>/*</url-pattern>
      </filter-mapping>
     -->
    <!--    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>servlets.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <!--<resource-ref>
        <description>jdbc:mysql://hermes.bloomu.edu:3306/ISISData</description>
        <res-ref-name>connection</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>-->
</web-app>
